name: Deploy to AWS-EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu@latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/Devops-practice
            git pull
            sudo npm install
            sudo npm build
            sudo pm2 stop ./dist/index.js
            sudo pm2 start ./dist/index.js